%br
%br
=link_to "Pending Users", admin_pending_user_path, :class => "btn btn-primary"

%h1 Show All Users
-if @admins.blank?
	%h3= "No User found."
-else
	%p 
		These are the Users
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				User Name
			%th.text-center
				Email
			%td.text-center
				First Name
			%td.text-center
				Last Name
		-@admins.each do |a|
			%tr
				%td= a.userName
				%td= a.email
				%td= a.firstName
				%td= a.lastName