%h1 Show All Users
-if @admins.blank?
	%h3= No User Currently
-else
	%p 
		These are the Users
	%table.table.table-hover.table-condensed
		%tr
			%th 
				User Name
			%th 
				Email
			%td
				First Name
			%td
				Last Name
		-@admins.each do |a|
			%tr
				%td= a.userName
				%td= a.email
				%td= a.firstName
				%td= a.lastName
