%h1 Show All Users
-if @adminPendingUsers.blank?
	%h3= "No User Found."
-else
	%p 
		These are the Users
	%table.table.table-hover.table-condensed
		%tr
			%th 
				User Name
			%th 
				Email
			%td
				First Name
			%td
				Last Name
			%td
				Approve User
		-@adminPendingUsers.each do |a|
			%tr
				%td= a.userName
				%td= a.email
				%td= a.firstName
				%td= a.lastName
				%td.text-center
					= link_to admin_approve_user_path(a.id), :method => :post do
						= content_tag :span, class: "glyphicon glyphicon-ok" do
							=""
