- require 'active_support/core_ext'
%h1 Show All Users
-if @adminPendingUsers.blank?
	%h3= "No User Found."
-else
	%p 
		These are the Users
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				User Name
			%th.text-center
				Email
			%td.text-center
				Name
			%td.text-center
				Last Sign in
			%td.text-center
				Approve User
		-@adminPendingUsers.each do |a|
			%tr
				%td= a.userName
				%td= a.email
				%td= "#{a.firstName} #{a.lastName}"
				-if(a.last_sign_in_at?)
					%td= time_ago_in_words(a.last_sign_in_at, include_seconds: true)
				-else
					%td= ""
				%td.text-center
					= link_to admin_approve_user_path(a.id), :method => :post do
						= content_tag :span, class: "glyphicon glyphicon-ok" do
							=""
