%tr
	- routeInfo = busstop.routes.collect(&:id)
	- if !routeInfo.include?(params[:id].to_i)
		%td
			= busstop.busStopName
		%td
			.includeForm
				%button.btn.btn-default.btnToClickToSubmit
					%span.glyphicon.glyphicon-ok
				= form_tag(route_include_route_busstop_path, :method => :post, remote: true, class: "form-horizontal includeButtonPressed") do
					= hidden_field_tag(:busstop_id, busstop.id)
					= hidden_field_tag(:route_id,params[:id])
					%button.btn.btn-primary.btnToHide
		%td
			.dontIncludeForm
				%button.btn.btn-danger.btnToClickToRemove
					%span.glyphicon.glyphicon-remove
				= form_tag(route_remove_route_busstop_path, :method => :post, remote: true, class: "form-horizontal removeButtonPressed") do
					= hidden_field_tag(:busstop_id, busstop.id)
					= hidden_field_tag(:route_id,params[:id])
					%button.btn.btn-primary.btnToHide
	- else
		%td
			= busstop.busStopName
		%td
			.dontIncludeForm
				%button.btn.btn-default.btnToClickToSubmit
					%span.glyphicon.glyphicon-ok
				= form_tag(route_include_route_busstop_path, :method => :post, remote: true, class: "form-horizontal includeButtonPressed") do
					= hidden_field_tag(:busstop_id, busstop.id)
					= hidden_field_tag(:route_id,params[:id])
					%button.btn.btn-primary.btnToHide
		%td
			.includeForm
				%button.btn.btn-danger.btnToClickToRemove
					%span.glyphicon.glyphicon-remove
				= form_tag(route_remove_route_busstop_path, :method => :post, remote: true, class: "form-horizontal removeButtonPressed") do
					= hidden_field_tag(:busstop_id, busstop.id)
					= hidden_field_tag(:route_id,params[:id])
					%button.btn.btn-primary.btnToHide



