<%= form_for :route, url: routes_path do |f| %>
  <% if @route.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@route.errors.count, "error") %> prohibited
      this route from being saved:</h2>
    <ul>
    <% @route.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :routeName %><br>
    <%= f.text_field :routeName %>
  </p>
 
  <p>
    <%= f.label :routeDistance %><br>
    <%= f.text_area :routeDistance %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'showAllRoutes', routes_path %>