
-if @busStops.blank?
	%h4 Route Empty
-else
	%p= @busStops
	%p= @busStops.class
	%p= @busStops.count
	
	%h4= "Showing route details for: \'#{@route.routeName}\'"
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center 
				Bus Stop Name
			%th.text-center
				Bus Stop Lat Long
			%th.text-center
				Bus Stop Sec Name
		-@busStops.each do |b|
			%tr
				%td
					=b#.busStopName
				%td
					=#b.busStopLatLong
				%td
					=#b.busStopSecName

 
