%h1 Showing All Routes
-if @routes.blank?
	%h3= "No routes to show"
%div
	=link_to 'Add new route', route_new_path, :class => "btn btn-primary"
%br
%div
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				Route Name
			%th.text-center
				Route Distance
			%th.text-center
				Route Source Name
			%th.text-center
				Route Destination Name
			%th.text-center 
				Options
		-@routes.each do |r|
			%tr
				%td= r.routeName
				%td= r.routeDistance
				%td= r.routeSourceName
				%td= r.routeDestName
				%td
					= link_to route_route_details_path(r.id) do
						= content_tag :button, :class => "btn btn-primary" do
							= content_tag :span, class: "glyphicon glyphicon-list" do
								=""
					|
					= link_to route_show_edit_route_path(r.id) do
						= content_tag :button, :class => "btn btn-warning" do
							= content_tag :span, class: "glyphicon glyphicon-pencil" do
								=""
					|
					= link_to route_delete_path(r.id), method: :delete, data: { :confirm => 'Are you sure?' } do
						= content_tag :button, :class => "btn btn-danger" do
							= content_tag :span, class: "glyphicon glyphicon-remove" do
								=""
