=# @rel.to_yaml
=# @b.to_yaml
=# @search.to_yaml
- if @busstops.blank?
	%hr
	%h3 No bus stop currently exist.
-else
	%hr
	%h3 Search Busstop
	%br
	%div.container.well
		= form_tag("/route/searchBusstop", method: "post", remote: true, class: "form-horizontal", id: "searchAjaxForm") do


			%div.text-center
				%div.col-lg-6
					%div.input-group
						= hidden_field_tag(:id, @route.id)
						= text_field_tag(:search, params[:search], :class => "form-control" , :placeholder => "Bus-Stop Name")
						%span.input-group-btn
							%button.btn.btn-primary{:type => "submit" }
								%span.glyphicon.glyphicon-search
						= #submit_tag("Search", class: "btn btn-default")
	%h3= "Choose busstops for route: '#{@route.routeName}'"
	%br
	=link_to 'Edit Routes Properties', route_edit_route_properties_path(@route.id), :class => "btn btn-primary"
	%br
	%hr
	.well.container#busStopsHolder
	%div.well.container.text-center{:id => "save"}
		="Included Busstop On This Route"
		%br
		%br
		%ul.well.container.list-group{:id => "sortable", :style => "padding-left:25%; padding-right:20%;"}
			- @busstopsOnRoutes.each do |busstop|
				%li.list-group-item.col-lg-10{:id => busstop.id}
					%h4
						= busstop.busStopName
						%span.pull-right
							=link_to route_remove_route_busstop_path(:busstop_id =>busstop.id, :route_id => @route.id), :method => :post do
								= content_tag :button, :class => "btn btn-danger" do
									= content_tag :span, class: "glyphicon glyphicon-remove" do
										=""
			/
				- @busstops.each do |c|		#all bussstops in data base
					-ids = Array.new
					- @routeBusstopRelations.each do |u|
						-ids << u.busstop_id

					-if not (ids.include?(c.id) == false)
						%li.list-group-item{:id => "#{c.id}"}
							=c.busStopName
							%span.pull-right
								=link_to route_remove_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
									= content_tag :button, :class => "btn btn-danger" do
										= content_tag :span, class: "glyphicon glyphicon-remove" do
											=""
		= form_tag("/route/saveBusStopOnRoute", method: "post", class: "form-horizontal", :id => "saveRoute") do
			= hidden_field_tag(:route_id, @route.id)
			= submit_tag("Save", class: "btn btn-primary pull-right", :id => "button")
