%h1 Show All Bus Stops
=link_to 'Edit Routes Properties', route_edit_route_properties_path, :class => "btn btn-primary"
-if(flash[:notice].blank? == false)
	%div.alert.alert-warning.alert-dismissable
		%span
			=flash[:notice]
			%a.close{:href => "#", :data => {:dismiss => "alert"}, :aria=> {:hidden => "true"}}
				&times;
- if @busstops.blank?
	%p No bus stop currently exist.
-else
	%p 
		These are the bus stops
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				Bus Stop Name
			%th.text-center
				Bus Stop LatLong
			%th.text-center
				Bus Stop Secondary Name
			%th.text-center
				Include
			%th.text-center
				Remove
		- @busstops.each do |c|		#all bussstops in data base
			%tr
				%td= link_to c.busStopName, {:action => 'view', :id => c.id}
				%td= c.busStopLatLong
				%td= c.busStopSecName
				-ids = Array.new
				- @routeBusstopRelations.each do |u|
					-ids << u.busstop_id

				-if(ids.include?(c.id) == false)
					%td
						= link_to route_include_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
							= content_tag :span, class: "glyphicon glyphicon-ok" do
								=""
					%td
				-else
					%td
					%td
						= link_to route_remove_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
							= content_tag :span, class: "glyphicon glyphicon-remove" do
								=""