%h1 Here you can Modify the Bus-Stops
- if @busstops.blank?
	%hr
	%p No bus stop currently exist.
-else
	%hr
	%h3= "Choose busstops for route: '#{@route.routeName}'"
	=link_to 'Edit Routes Properties', route_edit_route_properties_path, :class => "btn btn-primary"
	%br
	%hr
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				Bus Stop Name
			%th.text-center
				Include
			%th.text-center
				Remove
		- @busstops.each do |c|		#all bussstops in data base
			%tr
				%td= link_to c.busStopName, {:action => 'view', :id => c.id}
				-ids = Array.new
				- @routeBusstopRelations.each do |u|
					-ids << u.busstop_id

				-if(ids.include?(c.id) == false)
					%td
						= link_to route_include_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
							= content_tag :span, class: "glyphicon glyphicon-ok" do
								=""
					%td
				-else
					%td
					%td
						= link_to route_remove_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
							= content_tag :span, class: "glyphicon glyphicon-remove" do
								=""