%h1 Showing All Routes
-if @routes.blank?
	%h3= "No routes to show"
%div
	=link_to 'Add new route', {:action => 'new'}
%div
	%table.table.table-hover.table-condensed
		%tr
			%th 
				Route Id
			%th
				Route Name
			%th
				Route Distance
			%th
				Route Travel Time
			%th
				Route Source LatLong
			%th
				Route Dest LatLong
			%th
				User Name
			%th
				Route Start Time
			%th
				Route Stop Time
			%th
				Delete
		-@routes.each do |r|
			%tr
				%td= r.id
				%td= link_to r.routeName, {:action => 'view', :id => r.id}
				%td= r.routeDistance
				%td= r.routeTravelTime
				%td= r.routeSourceLatlong
				%td= r.routeDestLatLong
				%td= r.user_id
				%td= r.routeStartTime
				%td= r.routeStopTime
				%td
					= link_to route_view_path(r.id) do
						= content_tag :span, class: "glyphicon glyphicon-list" do
							=""
					|
					= link_to route_edit_path(r.id), method: :patch, data: { :confirm => 'Are you sure?' } do
						= content_tag :span, class: "glyphicon glyphicon-pencil" do
							=""
					|
					= link_to route_delete_path(r.id), method: :delete, data: { :confirm => 'Are you sure?' } do
						= content_tag :span, class: "glyphicon glyphicon-remove" do
							=""
