- if @busstops.blank?
	%hr
	%h3 No bus stop currently exist.
-else
	%hr
	%h3 Search Busstop
	%br
	%div.container.well
		= form_tag("/route/searchBusstop", method: "post", class: "form-horizontal") do 

			%div.input-group
				= text_field_tag(:search, nil, :class => 'form-control')
				%span.input-group-btn
					%button.btn.btn-default
						%span.glyphicon.glyphicon-search
				= hidden_field_tag(:id, @route.id)
				= #submit_tag("Search", class: "btn btn-default") 
	%h3= "Choose busstops for route: '#{@route.routeName}'"
	%br
	=link_to 'Edit Routes Properties', route_edit_route_properties_path(@route.id), :class => "btn btn-primary"
	%br
	%hr
	%div.well.container
		%h4.text-center
			="Search Result"
		-if @foundBusstops.blank?
			%p.text-center 
				="No Busstop Found"
		-else
			%table.table.table-hover.table-condensed.text-center
				%tr
					%th.text-center
						Bus Stop Name
					%th.text-center
						Include
					%th.text-center
						Remove
				- @foundBusstops.each do |c|		#all bussstops in data base
					%tr
						-ids = Array.new
						- @routeBusstopRelations.each do |u|
							-ids << u.busstop_id

						-if (ids.include?(c.id) == false)
							%td= c.busStopName
							%td
								= link_to route_include_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
									= content_tag :button, :class => "btn btn-primary" do
										= content_tag :span, class: "glyphicon glyphicon-ok" do
											=""
						-else
							%td= c.busStopName
							%td
							%td
								= link_to route_remove_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
									= content_tag :button, :class => "btn btn-danger" do
										= content_tag :span, class: "glyphicon glyphicon-remove" do
											=""
	%div.well.container
		%h4.text-center
			="Included Busstop on This Route"
		%table.table.table-hover.table-condensed.text-center
			%tr
				%th.text-center
					Bus Stop Name
				%th.text-center
					Remove
			- @busstops.each do |c|		#all bussstops in data base
				%tr
					-ids = Array.new
					- @routeBusstopRelations.each do |u|
						-ids << u.busstop_id

					-if not (ids.include?(c.id) == false)
						%td= c.busStopName
						%td
							= link_to route_remove_route_busstop_path(:busstop_id =>c.id, :route_id => @route.id), :method => :post do
								= content_tag :button, :class => "btn btn-danger" do
									= content_tag :span, class: "glyphicon glyphicon-remove" do
										=""