%h3= "Showing Information of Route: #{@routes.routeName}"
=link_to 'Show All Routes', {:action => 'showAll'}

- if @routes.blank?
	%p= "Route not found"
- else
	%table.table.table-hover.table-condensed.text-center
		%tr
			%th.text-center
				Route Id
			%th.text-center
				Route Name
			%th.text-center
				Route Source Name
			%th.text-center
				Route Destination Name
		%tr
			%td
				=@routes.id
			%td
				=@routes.routeName
			%td
				=@routes.routeSourceName
			%td
				=@routes.routeDestName
			%td
				= link_to route_delete_path(@routes.id), method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :span, class: "glyphicon glyphicon-remove" do
						=""

/	= button_to 'Destroy', {:controller => 'busstop', :action => 'destroy', :id => @routes.id}, method: :delete, data: { :confirm => 'Are you sure?' }