%h1= "Showing Route: #{@routes.routeName}"
=link_to 'Show All Routes', {:action => 'showAll'}

- if @routes.blank?
	%p= "Route not found"
- else
	%table.table.table-hover.table-condensed
		%tr
			%th
				Route Id
			%th
				Route Name
			%th
				Route Travel Time
			%th
				Route Distance
		%tr
			%td
				=@routes.id
			%td
				=@routes.routeName
			%td
				=@routes.routeTravelTime
			%td
				=@routes.routeDistance
			%td
				= link_to route_delete_path(@routes.id), method: :delete, data: { :confirm => 'Are you sure?' } do
					= content_tag :span, class: "glyphicon glyphicon-remove" do
						=""

/	= button_to 'Destroy', {:controller => 'busstop', :action => 'destroy', :id => @routes.id}, method: :delete, data: { :confirm => 'Are you sure?' }