<!DOCTYPE html>
<html>
<head>
  <title>RailsBoot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="btn btn-primary">Welcome to FYP-MIS</h1>
<%= link_to 'Manage Routes', {:controller => 'route', :action => 'showAll'} %>
<%= link_to 'Manage Bus Stops', {:controller => 'busstop', :action => 'showAll'} %>
<% # Required for deivse.%>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %0.>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
