<!DOCTYPE html>
<html>
<head>
  <title>RailsBoot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="btn btn-primary">Welcome to FYP-MIS</h1>
<%= link_to 'Manage Routes', {:controller => 'route', :action => 'showAll'} %>
<%= link_to 'Manage Bus Stops', {:controller => 'busstop', :action => 'showAll'} %>
<%= yield %>







<%# footer code %>



<div style="clear:both;"></div><!--Float claering div-->
<div id="footer" >
	<!--<div style="border:1px solid #4D94DB"></div>-->
	<div class="list_sitemap">
		<!--NOthining Here-->
		<div class="sitemap-footer-col">
			<ul class="footer-col">
				<li class="footer-col-header"><a href="index.php" class="no_underline">Home</a></li> 
				<li class="footer-col-normal"><a href="#" class="no_underline">Product and Services</a></li>
				<!--<li class="footer-col-normal"><a href="#" class="no_underline">Company Portfolio</a></li>
				<li class="footer-col-normal"><a href="#" class="no_underline"></a></li>-->
			</ul>
		</div>
		<!--NOthining Here-->
		<div class="sitemap-footer-col">
			<ul class="footer-col">
				<li class="footer-col-header"><a href="about.php" class="no_underline">About Us</a></li>
				<!--<li class="footer-col-normal"><a href="#" class="no_underline">Our Mission</a></li>
				<li class="footer-col-normal"><a href="#" class="no_underline">Our Employees</a></li>-->
				<!--<li class="footer-col-normal"><a href="file:///C|/wamp/www/info.php" class="no_underline">Information</a></li>-->
			</ul>
		</div>
		<!--NOthining Here-->
		<div class="sitemap-footer-col">
			<ul class="footer-col">
				<li class="footer-col-header"><a href="#" class="no_underline">Members</a></li>
				<li class="footer-col-normal"><a href="login.php" class="no_underline">Company Sign In</a></li>
				<li class="footer-col-normal"><a href="login.php" class="no_underline">Admin Sign In</a></li>
				<li class="footer-col-normal"><a href="signup.php" class="no_underline">Sign Up</a></li>
				<li class="footer-col-normal"><a href="admin.php" class="no_underline">Admin Area</a></li>
			</ul>
		</div>

		<div class="sitemap-footer-col">
			<ul class="footer-col">
				<li class="footer-col-header"><a href="contactUs.php" class="no_underline">Contact Us</a></li>
				<li class="footer-col-normal"><a href="contactUs.php" class="no_underline">Email Us</a></li>
				<!--<li class="footer-col-normal"><a href="#" class="no_underline">Locate Us</a></li>-->
				<!--<li class="footer-col-normal"><a href="#" class="no_underline">Office Timings</a></li>-->

			</ul>
		</div>
		<div class="sitemap-footer-col" style=" float:right">
		</div>
		<div style="clear:both;"></div>
	</div><!--list_sitemap ends here-->        
	<div id="real_footer">
		<div class="copyright"><span>Copyright &copy; PakTransit.pk</span></div>
	</div>

</div>


</body>
</html>
