<!DOCTYPE html>
%html
	%head
		%title RailsBoot
		/%link{:href => 'http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded',  :rel => 'stylesheet', :type => 'text/css'}
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		=link_to root_path do
			%button.btn.btn-primary
				Welcome to MIS-FYP
		= link_to "Manage Users", "#" 
		|		
		= link_to "Manage Routes", route_showAll_path
		|
		= link_to "Manage Bus Stops", busstop_showAll_path
		%p.navbar-text.pull-right
			-if user_signed_in?
				Logged in as
				%strong
					= current_user.email
				= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
				= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
			-else
				= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
				= link_to "Login", new_user_session_path, :class => 'navbar-link'	
			
		/= link_to 'Manage Routes', {:controller => 'route', :action => 'showAll'}
		/= link_to 'Manage Bus Stops', {:controller => 'busstop', :action => 'showAll'}
		= yield
		
		
		/ Footer Implementation
		%div#real_footer
			%div.copyright
				%span Copyright © PakTransit.pk